fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
pg8000==1.30.2
python-dotenv==1.0.0
pydantic==2.4.2
certifi==2023.7.22
psycopg2-binary==2.9.9
python-multipart==0.0.6
google-cloud-speech==2.19.0
google-auth==2.17.3